* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  color: #2B3D41;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #2B3D41;
  letter-spacing: 2px;
}

.h2-white {
  color: #fff;
}

.bv-bg-blue {
  background-color: #2B3D41;
}

.bv-bg-lightblue {
  background-color: #64B6AC;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}

#top-header a {
  font-size: 19px;
  color: #fff;
}

#top-header svg {
  font-size: 24px;
}

#top-header ul {
  margin: 0px;
}

#top-header ul a {
  margin-left: 20px;
}

#top-header ul a:hover {
  color: #64B6AC;
}

#bottom-header {
  position: relative;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0px 0.5px 5px 0.1px #1d292b;
          box-shadow: 0px 0.5px 5px 0.1px #1d292b;
}

#bottom-header #logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bottom-header #logo a {
  color: black;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#bottom-header #logo a span {
  font-size: 22px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  color: #2B3D41;
}

#bottom-header ul {
  margin-bottom: 0px;
  margin-top: 14px;
}

#bottom-header ul :first-child a {
  color: #64B6AC;
}

#bottom-header ul :last-child a {
  background-color: #64B6AC;
  padding: 5px 10px;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  font-size: 17px;
  margin-left: 40px;
  font-weight: 500;
}

#bottom-header ul :last-child a:hover {
  background-color: #2B3D41;
}

#bottom-header ul li a {
  font-size: 15px;
  margin-left: 60px;
  color: #2B3D41;
}

#bottom-header ul li a:hover {
  color: #64B6AC;
}

#header-index, body header.active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px;
}

#header-index #bottom-header, body header.active #bottom-header {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

#header-index #bottom-header ul li a, body header.active #bottom-header ul li a {
  font-weight: 500;
  padding: 5px;
  font-size: 15px;
  color: #2B3D41;
}

#header-index #bottom-header ul li a:hover, body header.active #bottom-header ul li a:hover {
  color: #64B6AC;
}

#header-index #bottom-header ul :first-child a, body header.active #bottom-header ul :first-child a {
  color: #64B6AC;
}

#header-index #bottom-header ul :last-child a, body header.active #bottom-header ul :last-child a {
  color: #fff;
}

#header-index #bottom-header ul :last-child a:hover, body header.active #bottom-header ul :last-child a:hover {
  color: #fff;
  background-color: #2B3D41;
}

#header-index #bottom-header #logo span, body header.active #bottom-header #logo span {
  font-weight: 700;
}

body header.active {
  -webkit-box-shadow: 0px 0px 6px 1px #1d292b;
          box-shadow: 0px 0px 6px 1px #1d292b;
  background: #fff;
}

#background-top {
  z-index: 1;
  height: 800px;
  background-image: url("../img/2.jpg");
  background-size: cover;
  background-position-y: 0%;
  margin-top: -66px;
}

#background-top #text-top {
  position: relative;
  top: 45%;
  left: 5%;
  width: 50%;
}

#background-top #text-top h1 {
  font-size: 18px;
  margin-bottom: -5px;
  padding: 0px;
}

#background-top #text-top p {
  font-size: 24px;
  font-weight: 500;
}

#background-top #text-top #p-01 {
  font-size: 50px;
  font-weight: bold;
  color: #2B3D41;
  margin: 3px 0px;
}

#background-top #text-top #buttons {
  width: 450px;
  margin: 50px auto;
}

#background-top #text-top #buttons a {
  padding: 15px 20px;
  background-color: #2B3D41;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 18px;
}

#background-top #text-top #buttons a:hover {
  background-color: #64B6AC;
}

#background-top #text-top #buttons #a-01 {
  background-color: #64B6AC;
}

#background-top #text-top #buttons #a-01:hover {
  background-color: #2B3D41;
}

.wrapper {
  width: 85%;
  margin: 0px auto;
}

#whats-psy {
  text-align: center;
  margin: 4rem 0px;
}

#whats-psy h2 {
  margin-bottom: 10px;
}

#whats-psy p {
  font-size: 20px;
  width: 65%;
  line-height: 1.5;
  margin: 10px auto;
  letter-spacing: 1.5px;
}

#whats-psy .emptybottom-border {
  border-top: 3px solid #2B3D41;
  width: 20%;
  margin: 0.25rem auto;
}

#help {
  margin-top: 0px !important;
  border: 4px solid #64B6AC;
  border-radius: 6px;
}

#help #psychotherapy {
  font-size: 20px;
  padding: 40px;
  color: #fff;
}

#help #psychotherapy p {
  width: 95%;
  line-height: 1.15;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

#help #psychotherapy ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 20px;
}

#help #psychotherapy #benefits p {
  font-size: 20px;
}

#help #about {
  padding: 40px;
}

#help #about #about-img {
  width: 250px;
  height: 250px;
  background-image: url("../img/1.jpg");
  background-size: 450px;
  background-position: 30% 30%;
  border-radius: 50%;
  border: 1.5px solid #2B3D41;
  margin: 0px auto;
}

#help #about #about-text {
  font-size: 18px;
}

#help #about #about-text #aboutfirst-p {
  margin: 0px auto;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  line-height: 1.2;
}

#help #about #about-text ul {
  margin-top: 2rem;
  padding: 0px;
  width: 85%;
  line-height: 1.1;
}

#can-help-with {
  padding: 20px;
  padding-bottom: 30px;
}

#can-help-with p {
  font-size: 18px;
  width: 100%;
  margin: 0px auto;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #fff;
}

#can-help-with .help-with {
  width: 300px;
  min-height: 250px;
  background-color: #64B6AC;
  padding: 20px;
  text-align: center;
  margin: 0px auto;
  border-radius: 6px;
}

#can-help-with .help-with h3 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
}

#can-help-with .help-with #icon-help {
  font-size: 70px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  border-radius: 50%;
  background-color: #2B3D41;
  border: 5px solid #2B3D41;
}

#can-help-with .help-with #icon-help .iconify {
  color: #64B6AC;
}

#can-help-with .help-with p {
  font-size: 14px;
  color: #2B3D41;
  font-weight: 500;
  margin-top: 5px;
}

#can-help-with .row {
  margin: 0px auto;
  margin-top: 20px;
  width: 100%;
}

.button-service {
  margin-top: 40px;
}

.button-service a {
  text-transform: uppercase;
  font-size: 19px;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 5px 18px;
  background-color: #2B3D41;
  color: #fff;
  border: 1.5px solid #2B3D41;
}

.button-service a:hover {
  background-color: #64B6AC;
  border-color: #64B6AC;
  color: #fff;
}

#services {
  margin-bottom: 80px;
}

#services h2 {
  color: #2B3D41;
  text-align: center;
}

#services .card {
  width: 18rem;
  border: 0;
  -webkit-box-shadow: 2px 2px 7px 0px #2B3D41;
          box-shadow: 2px 2px 7px 0px #2B3D41;
}

#services .card img {
  min-height: 200px;
}

#services .card .btn {
  border: 1px solid #2B3D41;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #fff;
  color: #2B3D41;
}

#services .card .btn:hover {
  background-color: #2B3D41;
  color: #fff;
}
/*Slider*/
.bv-container {
  width: 100%;
  margin: 0px auto;
}

#testimonials {
  padding: 0px;
  background-color: #2B3D41;
}

#testimonials h2 {
  background-color: #2B3D41;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 20px;
}

#testimonials .carousel-control-prev-icon, #testimonials .carousel-control-next-icon {
  background-image: none;
}

#testimonials .arrow-entity {
  font-size: 45px;
  -webkit-transform: scale(1, 1.2);
          transform: scale(1, 1.2);
}

#testimonials .carousel-item {
  width: 100%;
  height: 400px;
  background-color: #2B3D41;
  padding: 20px;
}

#testimonials .carousel-item .slika-slider {
  -webkit-box-shadow: 0px 1px 8px 1px #000000;
          box-shadow: 0px 1px 8px 1px #000000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../img/test2.webp");
  background-size: cover;
  background-position: center;
  margin: 0px auto;
  border: 2.5px solid #64B6AC;
}

#testimonials .carousel-item #test2 {
  background-image: url("../img/test3.jpg");
  background-position: left;
}

#testimonials .carousel-item #test3 {
  background-image: url("../img/test4.jpg");
}

#blog-homepage #blog-homepage-img, #blog-homepage #blog-homepage-img2 {
  height: 330px;
  background-image: url("../img/blog1.jpg");
  background-size: cover;
}

#blog-homepage #blog-homepage-img2 {
  background-image: url("../img/blog2.jpg");
}

#blog-homepage .blog-homepage-text {
  border-left: 0;
  padding: 20px;
}

#blog-homepage .blog-homepage-text a {
  color: #64B6AC;
}

#blog-homepage .blog-homepage-text p {
  font-size: 18px;
  line-height: 1.2;
}

#blog-homepage .blog-box {
  border-radius: 6px;
  border: 2px solid #64B6AC;
  border-left: 13px solid #64B6AC;
}

footer {
  margin-top: 140px;
  padding: 20px;
  padding-top: 50px;
  background-color: #2B3D41;
  color: #fff;
}

footer #footer-text #footer-text-first {
  line-height: 1.7;
}

footer #footer-text #first-child-p {
  font-size: 22px;
  letter-spacing: 2px;
}

footer #footer-text span {
  font-weight: 500;
  font-size: 16px;
}

footer #footer-text #footer-phone {
  color: #fff;
  font-size: 16px;
}

footer #footer-text p {
  font-size: 16px;
}

footer #footer-text a {
  font-size: 16px;
}

footer #footer-text h4 {
  font-size: 18px;
}

footer #footer-text ul li {
  padding-left: 0px;
  background-color: #2B3D41;
  border-color: #8f8f8f;
}

footer #footer-text ul li a {
  color: #fff;
}

footer #footer-text a:hover {
  color: #64B6AC;
}

footer #footer-app {
  margin-top: 70px;
  margin-bottom: 30px;
}

footer #footer-app a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 30px;
  border: 2px solid #64B6AC;
  background-color: transparent;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer #footer-app a:hover {
  background-color: #fff;
  color: #2B3D41;
  border-color: #fff;
}

footer #footer-app p {
  font-size: 24px;
  letter-spacing: 2px;
}

/*Contact*/
#bottom-header .row ul li #home-navbar {
  color: #2B3D41;
}

#bottom-header .row ul li #home-navbar :hover {
  color: #64B6AC;
}

#bottom-header .row ul li #home-navbar:hover {
  color: #64B6AC;
}

#contact-background, #fees-background {
  height: auto;
  background-image: url("../img/services-pages/background-contact.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px;
}

#contact-background #contact-shadow, #fees-background #contact-shadow {
  width: 100%;
  height: 100%;
  padding: 80px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

#contact-background #contact-shadow .container, #fees-background #contact-shadow .container {
  width: 60%;
  position: relative;
}

#contact-background #contact-shadow .container #contact-form, #fees-background #contact-shadow .container #contact-form {
  background-color: #fff;
  padding: 60px;
  border: 6px solid #64B6AC;
}

#contact-background #contact-shadow .container #contact-form span, #fees-background #contact-shadow .container #contact-form span {
  font-weight: 500;
}

#contact-background #contact-shadow .container #contact-form .btn, #fees-background #contact-shadow .container #contact-form .btn {
  background-color: #64B6AC;
  border-color: #64B6AC;
}

#contact-background #contact-shadow .container #contact-form .btn:hover, #fees-background #contact-shadow .container #contact-form .btn:hover {
  background-color: #2B3D41;
  border-color: #2B3D41;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#contact-background #contact-shadow .container #contact-form p, #contact-background #contact-shadow .container #contact-form a, #fees-background #contact-shadow .container #contact-form p, #fees-background #contact-shadow .container #contact-form a {
  line-height: 1.5;
  font-size: 18px;
}

#contact-background #contact-shadow .container #contact-form a, #fees-background #contact-shadow .container #contact-form a {
  color: #2B3D41;
}

#contact-background #contact-shadow .container #contact-form form #blog-update-list, #fees-background #contact-shadow .container #contact-form form #blog-update-list {
  padding-left: 0px;
}

#contact-background #contact-shadow .container #contact-form form .form-check .form-check-input, #fees-background #contact-shadow .container #contact-form form .form-check .form-check-input {
  padding: 0px;
  margin: 0px 5px;
}

#contact-page-01 footer, #fees-page footer {
  margin-top: 0px;
}

/*Services*/
#services-title {
  height: 180px;
  background-color: #2B3D41;
  color: #fff;
}

#services-title h3 {
  font-size: 30px;
  font-weight: 300;
}

#service-page h4 {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  font-weight: 300;
  margin-bottom: 10px;
}

#conditions .card, #services-page .card {
  background-color: #2B3D41;
  color: #fff;
  line-height: 1.2;
}

#conditions .card h5, #services-page .card h5 {
  font-weight: 300;
  letter-spacing: 2px;
}

#services-page h5 {
  font-size: 18px;
}

#services-page .card a {
  background-color: #fff;
  color: #2B3D41;
  padding: 2px 10px;
}

#services-page .card img {
  min-height: 200px;
}

.services-desc {
  color: #fff;
  text-align: center;
}

.services-desc .bv-col-service {
  height: 600px;
}

.services-desc h4 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2.5px;
}

.services-desc p {
  width: 80%;
  margin: 20px auto;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.5px;
}

.services-desc a {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #2B3D41;
  font-size: 20px;
  font-weight: 500;
}

.services-desc a:hover {
  background-color: #64B6AC;
  color: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.services-desc #desc-img01, .services-desc #desc-img02, .services-desc #desc-img03, .services-desc #desc-img04 {
  width: 100%;
  height: 100%;
  background-image: url("../img/services-pages/couple.jpg");
  background-size: cover;
  background-position: center;
}

.services-desc #desc-img02 {
  background-image: url("../img/services-pages/group.jpg");
}

.services-desc #desc-img03 {
  background-image: url("../img/services-pages/individual.jpg");
}

.services-desc #desc-img04 {
  background-image: url("../img/services-pages/child-therapy.jpg");
}

#couple-page, #group-page {
  background-color: #E5EEEB;
}

.service-desc-textbox {
  margin-top: 40px;
  width: 70%;
  margin: 40px auto;
  border-left: 3px solid #64B6AC;
  padding-left: 20px;
}

.service-desc-textbox h4 {
  font-weight: 700;
  color: #64B6AC;
  text-transform: capitalize;
}

.service-desc-textbox p {
  font-size: 19px;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
}

.service-desc-textbox ul {
  list-style-type: square;
  font-size: 18px;
  font-family: 'Merriweather', serif;
}

.service-desc-textbox ul li {
  margin-top: 10px;
  line-height: 1.5;
}

.service-desc-textbox ul span {
  font-weight: bold;
}

.last-child-servdesc {
  border-left: 0px;
  padding-left: 0px;
}

.last-child-servdesc h4 {
  color: #000000;
}

.cleaner {
  clear: both;
}

.cleaner {
  display: none;
}

/*Fees*/
#fees-page #contact-background #contact-shadow {
  padding-bottom: 0px;
}

#fees-box {
  padding: 20px;
  padding-top: 40px;
  background-color: #fff;
  border: 6px solid #64B6AC;
}

#fees-box #fees-text {
  text-align: center;
}

#fees-box #fees-text :first-child {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 0px;
  color: #2B3D41;
}

#fees-box #fees-text p {
  font-size: 28px;
  margin-top: 5px;
  letter-spacing: 3px;
  line-height: 1;
  color: #64B6AC;
}

#fees-box #fees-text :last-child {
  font-size: 18px;
  letter-spacing: 1.2px;
  color: #2B3D41;
  width: 80%;
  margin: 0px auto;
}

#fees-box table {
  width: 60%;
  margin: 40px auto;
  border: 1px solid #2B3D41;
  font-size: 18px;
}

#fees-box table td {
  padding: 10px;
  border-bottom: 1px solid #2B3D41;
  border-left: 1px solid #2B3D41;
}

#fees-box table th {
  text-align: center;
  padding: 10px;
  font-weight: 500;
  background-color: #2B3D41;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  #services .card {
    width: 24rem;
  }
  #services .card img {
    min-height: 270px;
  }
  #services .col-md-6 {
    padding: 0px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  #services .card {
    width: 20rem;
  }
  #services .card img {
    min-height: 220px;
  }
  #conditions .cleaner {
    display: block;
  }
  #conditions .row {
    display: block;
    margin-top: 0px !important;
  }
  #conditions .row .col-md-6 {
    float: left;
  }
  #conditions .row .col-sm-12 {
    margin-top: 10px;
  }
  #conditions .row #stress {
    float: left;
  }
  footer {
    text-align: center;
    margin-top: 100px;
  }
  footer h4 {
    margin-top: 20px;
    text-align: center;
    margin-left: 0px;
  }
  footer ul li a {
    padding-left: 16px;
  }
}
