* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  color: #2B3D41;
}

h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #fff;
}

.bv-bg-blue {
  background-color: #2B3D41;
}

.bv-bg-lightblue {
  background-color: #64B6AC;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  -webkit-box-shadow: 1px 0px 4px 1px #000000;
          box-shadow: 1px 0px 4px 1px #000000;
}

#top-header a {
  font-size: 19px;
  color: #fff;
}

#top-header svg {
  font-size: 24px;
}

#top-header ul {
  margin: 0px;
}

#top-header ul a {
  margin-left: 20px;
}

#top-header ul a:hover {
  color: #64B6AC;
}

#bottom-header {
  position: relative;
  z-index: 2;
  background-color: #fff;
}

#bottom-header #logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bottom-header #logo a {
  color: black;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#bottom-header #logo a span {
  font-size: 22px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  color: #2B3D41;
}

#bottom-header ul {
  margin-bottom: 0px;
  margin-top: 14px;
}

#bottom-header ul :first-child a {
  color: #64B6AC;
}

#bottom-header ul :last-child a {
  background-color: #64B6AC;
  padding: 5px 10px;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  font-weight: 700;
}

#bottom-header ul :last-child a:hover {
  background-color: #2B3D41;
}

#bottom-header ul li a {
  font-size: 15px;
  margin-left: 60px;
  color: #2B3D41;
}

#bottom-header ul li a:hover {
  color: #64B6AC;
}

#background-top {
  z-index: 1;
  height: 700px;
  background-image: url("../img/2.jpg");
  background-size: cover;
  background-position-y: 20%;
}

#background-top #text-top {
  position: relative;
  top: 230px;
  left: 8%;
  width: 50%;
}

#background-top #text-top h1 {
  font-size: 18px;
  margin-bottom: -5px;
  padding: 0px;
}

#background-top #text-top p {
  font-size: 30px;
  font-weight: 500;
}

#background-top #text-top #p-01 {
  font-size: 60px;
  font-weight: bold;
  color: #000000;
}

#background-top #text-top #buttons {
  width: 450px;
  margin: 50px auto;
}

#background-top #text-top #buttons a {
  padding: 15px 20px;
  background-color: #2B3D41;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 20px;
}

#background-top #text-top #buttons a:hover {
  background-color: #64B6AC;
}

#background-top #text-top #buttons #a-01 {
  background-color: #64B6AC;
}

#background-top #text-top #buttons #a-01:hover {
  background-color: #2B3D41;
}

.wrapper {
  width: 85%;
  margin: 0px auto;
}

.half-a-border-on-bottom-light {
  border-bottom: 3px solid #64B6AC;
  -o-border-image: linear-gradient(to right, #64B6AC 40%, #2B3D41 40%) 100% 1;
     border-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #64B6AC), color-stop(40%, #2B3D41)) 100% 1;
     border-image: linear-gradient(to right, #64B6AC 40%, #2B3D41 40%) 100% 1;
}

.half-a-border-on-bottom-dark {
  border-bottom: 3px solid #64B6AC;
  -o-border-image: linear-gradient(to right, #2B3D41 40%, #64B6AC 40%) 100% 1;
     border-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #2B3D41), color-stop(40%, #64B6AC)) 100% 1;
     border-image: linear-gradient(to right, #2B3D41 40%, #64B6AC 40%) 100% 1;
}

#help {
  margin-top: 0px !important;
}

#help #psychotherapy {
  font-size: 24px;
  border-right: 4px solid #2B3D41;
  padding: 60px;
  color: #fff;
}

#help #psychotherapy p {
  width: 80%;
  line-height: 1.15;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

#help #psychotherapy ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 20px;
}

#help #psychotherapy h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 50px;
}

#help #psychotherapy #benefits p {
  margin-left: 10px;
  font-size: 20px;
}

#help #can-help-with {
  padding: 60px;
}

#help #can-help-with p {
  font-size: 24px;
  width: 100%;
  margin: 0px auto;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 60px;
}

#help #can-help-with .help-with {
  width: 300px;
  height: 250px;
  background-color: #64B6AC;
  padding: 20px;
}

#help #can-help-with .help-with h3 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}

#help #can-help-with .help-with #icon-help {
  font-size: 70px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  border-radius: 50%;
  background-color: #2B3D41;
  border: 5px solid #2B3D41;
}

#help #can-help-with .help-with #icon-help .iconify {
  color: #64B6AC;
}

#help #can-help-with .help-with p {
  font-size: 14px;
  color: #2B3D41;
  font-weight: 500;
  margin-top: 15px;
}

#help #can-help-with .row {
  margin: 0px auto;
  margin-top: 20px;
  width: 80%;
}

#help #can-help-with #first-row-help {
  margin-top: 60px;
}

#about #about-block {
  -webkit-box-shadow: 0px 1px 5px 1px #2B3D41;
          box-shadow: 0px 1px 5px 1px #2B3D41;
}

#about #about-block ul {
  list-style-type: disc;
  margin-top: -10px;
}

#about #about-block ul li {
  font-size: 18px;
}

#about h2 {
  color: #2B3D41;
}

#about p {
  font-size: 24px;
  margin-bottom: 40px;
}

#about #slika {
  height: 620px;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: center;
}

#about #button-about a {
  color: #2B3D41;
}

.button-service {
  margin-top: 40px;
}

.button-service a {
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 7px 25px;
  background-color: transparent;
  color: #2B3D41;
  border: 1.5px solid #2B3D41;
}

.button-service a:hover {
  background-color: #64B6AC;
  border-color: #64B6AC;
  color: #fff;
}

#services {
  margin-bottom: 80px;
}

#services h2 {
  color: #2B3D41;
  text-align: center;
}

#services .card {
  width: 18rem;
}

#services .card img {
  min-height: 200px;
}

#services .card .btn {
  border: 0px;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#services .card .btn:hover {
  background-color: #64B6AC;
}

#app {
  height: 300px;
  margin-top: 0px !important;
  background-size: cover;
  background-position-y: 30%;
  padding: 0px;
  background-image: url("../img/bg4.jpg");
}

#app .overlay-shadow {
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
}

#app p {
  font-size: 26px;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}

/*Slider*/
.bv-container {
  width: 100%;
  margin: 0px auto;
}

#testimonials {
  padding: 0px;
}

#testimonials h2 {
  background-color: #2B3D41;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 20px;
}

#testimonials .carousel-item {
  width: 100%;
  height: 400px;
  background-color: #2B3D41;
  padding: 20px;
}

#testimonials .carousel-item .slika-slider {
  -webkit-box-shadow: 0px 1px 8px 1px #000000;
          box-shadow: 0px 1px 8px 1px #000000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../img/test2.webp");
  background-size: cover;
  background-position: center;
  margin: 0px auto;
  border: 2.5px solid #64B6AC;
}

#testimonials .carousel-item #test2 {
  background-image: url("../img/test3.jpg");
  background-position: left;
}

#testimonials .carousel-item #test3 {
  background-image: url("../img/test4.jpg");
}

#guest h2 {
  color: #2B3D41;
  text-align: center;
  margin-top: 40px;
}

#guest .row {
  margin-top: 20px;
}

footer {
  margin-top: 200px;
  padding: 20px;
  padding-top: 50px;
  background-color: #2B3D41;
  color: #fff;
}

footer #footer-text #footer-text-first {
  line-height: 1.7;
}

footer #footer-text #first-child-p {
  font-size: 22px;
  letter-spacing: 2px;
}

footer #footer-text span {
  font-weight: 500;
  font-size: 16px;
}

footer #footer-text #footer-phone {
  color: #fff;
  font-size: 16px;
}

footer #footer-text p {
  font-size: 16px;
}

footer #footer-text a {
  font-size: 16px;
}

footer #footer-text h4 {
  font-size: 18px;
}

footer #footer-text ul li {
  padding-left: 0px;
  background-color: #2B3D41;
  border-color: #8f8f8f;
}

footer #footer-text ul li a {
  color: #fff;
}

footer #footer-text a:hover {
  color: #64B6AC;
}

footer #footer-app {
  margin-top: 70px;
  margin-bottom: 30px;
}

footer #footer-app a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 30px;
  border: 2px solid #64B6AC;
  background-color: transparent;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer #footer-app a:hover {
  background-color: #fff;
  color: #2B3D41;
  border-color: #fff;
}

footer #footer-app p {
  font-size: 24px;
  letter-spacing: 2px;
}

/*Contact*/
#bottom-header .row ul li #home-navbar {
  color: #2B3D41;
}

#bottom-header .row ul li #home-navbar :hover {
  color: #64B6AC;
}

#bottom-header .row ul li #home-navbar:hover {
  color: #64B6AC;
}

#contact-page form {
  background-color: #2B3D41;
  padding: 20px;
  color: #fff;
}

#contact-info {
  margin-top: 100px;
}

#contact-info .icon-contact {
  font-size: 45px;
  color: #2B3D41;
}

#contact-info p {
  font-size: 18px;
  line-height: 1.5;
}

#contact-info p span {
  font-size: 21px;
  font-weight: 500;
}

/*Services*/
#services-title {
  height: 180px;
  background-color: #2B3D41;
  color: #fff;
}

#services-title h3 {
  font-size: 30px;
  font-weight: 300;
}

#service-page h4 {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  font-weight: 300;
  margin-bottom: 10px;
}

#conditions .card, #services-page .card {
  background-color: #2B3D41;
  color: #fff;
  line-height: 1.2;
}

#conditions .card h5, #services-page .card h5 {
  font-weight: 300;
  letter-spacing: 2px;
}

#services-page h5 {
  font-size: 18px;
}

#services-page .card a {
  background-color: #fff;
  color: #2B3D41;
  padding: 2px 10px;
}

#services-page .card img {
  min-height: 200px;
}

.cleaner {
  clear: both;
}

.cleaner {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #services .card {
    width: 24rem;
  }
  #services .card img {
    min-height: 270px;
  }
  #services .col-md-6 {
    padding: 0px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  #services .card {
    width: 20rem;
  }
  #services .card img {
    min-height: 220px;
  }
  #conditions .cleaner {
    display: block;
  }
  #conditions .row {
    display: block;
    margin-top: 0px !important;
  }
  #conditions .row .col-md-6 {
    float: left;
  }
  #conditions .row .col-sm-12 {
    margin-top: 10px;
  }
  #conditions .row #stress {
    float: left;
  }
  footer {
    text-align: center;
    margin-top: 100px;
  }
  footer h4 {
    margin-top: 20px;
    text-align: center;
    margin-left: 0px;
  }
  footer ul li a {
    padding-left: 16px;
  }
}
/*# sourceMappingURL=style.css.map */
